.StartScreenText{
	color:green;
	text-align: center;
	  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.startBox{
	background-color: #999999;
	border:1px solid black;
	height:800px;
}
h2{
	text-align:center;
}
.instruction{
	text-align:center;
}
.controls{
	text-align: center;
}
#Start{
	align-self: center;
	text-align: center;
	margin:0px auto;
}
.button{
	width:100% ;
	justify-content:center;
	display:flex;

}